:root {
	--bg-button-action: #528afe;
	--color-button-add: #787e97;
}

body::after { position:fixed; top:0; left:0; background:#fff; width:8px; height:100%; box-shadow:5px 0px 10px 5px rgba(0 0 0 / 10%); content:''; }

table.report {  }
	table.report td.td-input { padding:4px; }	

	table.report td input[type="text"].field_input { padding:4px 6px; }
	table.report td select.field_input { padding:4px 0px; }
	table.report td input[type="checkbox"].field_input { height:20px; }
	
	table.report td input[type="text"].full-width { width:calc(100% - 12px); }
	table.report td select.full-width { width:100%; }
	
	
table.report tr.rec-add-panel td { border:0px; }

.del-button { position:absolute; top:8px; right:8px; font-size:18px; line-height:20px; text-decoration:none; display:inline-block; color:var(--color-text); }
.add-rec-button { background:none; border-radius:20px; border:1px dashed var(--color-button-add); padding:10px 30px; color:var(--color-button-add); cursor:pointer; font:14px / 14px "Segoe UI", Tahoma; }
.depend-button { background:var(--bg-button-action); border-radius:20px; border-radius:20px; border:none; padding:11px 30px; color:#fff; cursor:pointer; font:14px / 14px "Segoe UI", Tahoma; }

.depend-block { background:#f5f5f5; padding:20px 15px; border-radius:10px; }
	.depend-block-in { display:none1; }


#reestrtp_table {}
	#reestrtp_table th.nametp {}
	#reestrtp_table th.name {}
	#reestrtp_table th.position {}
	#reestrtp_table th.seccanal { width:110px; }
	#reestrtp_table th.inprovider { width:110px; }
	#reestrtp_table th.objectit {}

#reestrdog_table {}
	#reestrdog_table th.nametp {}
	#reestrdog_table th.nameorg {}
	#reestrdog_table th.numdog {}
	#reestrdog_table th.datestart { width:80px; }
	#reestrdog_table th.dateend { width:80px; }
	#reestrdog_table th.nameit {}
	
#mapobject_table {}
	#mapobject_table th.object1 {}
	#mapobject_table th.object2 {}
	#mapobject_table th.select { width:200px; }

#limitbase_table {}
	#limitbase_table th.key_ind {}
	#limitbase_table th.limit_kv { width:150px; }
	#limitbase_table th.value_kv { width:150px; }
	
#ffff_table {}
	#ffff_table th.nametp {}
	#ffff_table th.f1, #ffff_table th.f2, #ffff_table th.f3, #ffff_table th.f4 { width:50px; }
	#ffff_table th.prim {}

	
.map-legend { list-style:none; padding:0px 20px; margin:0 0 30px 0; border-radius:8px; }
	.map-legend li { font-size:14px; color:rgba(0 0 0/30%); padding:2px 0; }

.oper_nad { background:#efefef; padding:8px 10px; border-radius:10px; }